<ng-container *ngIf="!!resource">

    <div class="card mb-3">

        <div class="card-body">
            <div class="card-title"> {{ resource.name }} </div>

            <div class="card-text"> {{ resource.resourceCount }} </div>



            <div class="progress position-relative">
                <div class="progress-bar text-justify" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">
                </div>

                <div id="progressive-bar" class="position-absolute mx-auto start-0 end-0">Idle</div>
            </div>


        </div>

        <div class="card-footer btn-group">
            <button type="button" class="btn btn-primary w-50" (click)="harvest()">Harvest</button>
            <button type="button" class="btn btn-primary mx-2 w-25" (click)="addAutoHarvester()">Buy auto
                harvester</button>
            <button type="button" class="btn btn-primary w-25" (click)="improveAutoHarvester()">Improve auto
                harvester</button>
        </div>

    </div>

</ng-container>